/* ==============================
   VARIABLES GLOBALES
================================ */
:root {
  /* Fonts */
  --body-font: 'Poppins', sans-serif;
  --heading-font: 'Sora', sans-serif;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* Font sizes */
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;

  /* Colors */
  --nav-height: 80px;
  --primary-red: #f90400b7;
  --primary-white: #fff;
  --dark-page: #040f18;
  --light-page: #d8dbe0;

  --first-color: #CC4B2C;
  --first-color-dark: #662616;
  --first-color-lighten: #FFFAFA;

  --transition: all 0.4s ease;
  --header-height: 80px;
  --z-fixed: 100;
}

/* ==============================
   RESET
================================ */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-white);
  background-color: var(--dark-page);
}


/* ==============================
   TYPOGRAPHIE
================================ */
h1, h2, h3, h4, h5 {
  font-family: var(--heading-font);
  font-weight: var(--font-bold);
  color: var(--first-color) !important;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

/* ==============================
   UTILITIES
================================ */
.full-page {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.full-page::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
  z-index: 0;
}

.container, .global_container {
  position: relative;
  z-index: 1;
  padding: 2rem;
}

.dark_page {}

/* ==============================
   FONTS
================================ */
@font-face {
  font-family: 'Sora';
  src: url('./assets/font/Sora/Sora-Medium.ttf') format('truetype');
}
